@import "reset.scss";

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

i{
    cursor:pointer;
}

.delete > form {
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    pointer-events: none;
}

.delete > form > input {
}

.delete.active > form {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}


.nav-item a {
    font-size: 18px;
}

.navbar {
    /*padding: 30px;*/
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.navbar-nav {
    gap: 40px;
    justify-content: center
}


.container li {
    padding: 28px 0px;
}


.identity {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 220px;

    i {
        font-size: 20px;
    }
}



.identity-sign-in {
    position: relative;
    padding: 32px 0px;
}

.identity-sign-in__info {
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    background: grey;
    transition: all 0.6s ease;
    position: absolute;
    top: 100%;
    left: -36px;
    min-width: 220px;
    padding: 20px 25px;
    border: 1px solid #d8dede;
    border-radius: 7px;
    background-color: #fff;
    
}

.identity-sign-in:hover .identity-sign-in__info {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}


.identity-sign-out {
}

