@model int 

<span class="delete">
	<a class="delete-confirm"><i class="bi bi-trash-fill"></i></a>
	<form style="display:inline-block" asp-action="Delete" asp-route-id="@Model">
		<input type="submit" style="color:red" value="Delete">
	</form>
</span>
