@model IEnumerable<GroupOfServices>

@{
	ViewData["Title"] = "Groups of services";
}

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Image</th>
			@if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
			{
				<th>Edit</th>
				<th>Delete</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a asp-controller="Services" asp-action="Index" asp-route-groupId="@item.Id">@item.Name</a>
				</td>

				@if (item.ImgUrl != "")
				{
					<td>
						<img src="/img/groups/@item.ImgUrl" height="150" />
					</td>
				}


				@if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
				{
					<td><a asp-action="Edit" asp-route-groupId="@item.Id"><i class="bi bi-pencil-fill"></i></a></td>
					<td>@await Component.InvokeAsync("Delete", item.Id)</td>
				}
			</tr>
		}
	</tbody>
</table>