@model List<Worker>

@{
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>What</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var worker in Model)
			{
				<tr>
					<td >@worker.Client.Name</td>
					<td>@worker.Client.Surname</td>
					<td>
						@foreach (var group in worker.Workers_Groups)
						{
							<span style="margin-right:8px">@group.Group.Name</span>
						}
					</td>
					<td><a asp-action="Edit" asp-route-workerId="@worker.Id"><i class="bi bi-pencil-fill"></i></a></td>
					<td>@await Component.InvokeAsync("Delete", worker.Id)</td>
				</tr>
			}
		</tbody>
	</table>
}

